@use 'header';
@use 'grid';
@use 'main';
@use 'footer';
@use 'variables' as v;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: v.$color-secondary;
}

.wrapper {
    max-width: 90%;
    margin: auto;
    background: v.$color-primary;
    color: v.$color-black;
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
.wrapper.dark-mode {
    background: v.$color-black; 
    color: v.$color-white; 
}