$color-white: rgb(255, 255, 255);
$color-off-white: rgb(250, 235, 215);
$color-black: rgb(0, 0, 0);
$color-dark-gray: rgb(56, 54, 54);
$color-light-gray: rgb(193, 184, 184);
$color-background: rgb(47, 90, 219);
$color-link: rgb(250, 29, 29);