$color-primary: rgb(173, 216, 230);
$color-secondary: rgb(211, 211, 211);
$color-code-demo: rgb(50, 205, 50);
$color-code-background: #222222;
$color-black: rgb(0,0,0);
$color-white: rgb(255, 255, 255);
$color-border:  rgb(211, 211, 211);
$color-cta: rgba(5, 20, 161, 0.852);