@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body{
    background: rgb(244, 217, 182);
    font-family: "Madimi One", sans-serif;
}

.container{
    background: rgb(110, 160, 221);
    margin: 0 auto;
    max-width: 676px;
    text-align: center;
    box-shadow: 0 0 10px rgb(110, 160, 221);
    border-radius: 15px;
}

header{
    color:white;
    background: linear-gradient(rgb(4, 64, 244), rgb(102, 102, 244), rgb(110, 160, 221));
    padding:3%;
    text-decoration: underline;
    border-radius: 15px 15px 0px 0px;
}

section{
    padding:1%;
    width: 80%;
    margin: 0 auto;
}

.border{
    text-align: justify;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    padding: 5%;
}

span{
    display:block;
    padding: 3%;
    text-align: center;
    color:rgb(185, 5, 140);
    text-shadow: 1px 1px white;
}

a{
    text-decoration: none;
}

.link1{
    color: black;
}

.link1:hover{
    text-shadow: 0px 0px 15px white;
    text-decoration: underline;
}

.link2{
    color: black;
}

.link2:hover{
    text-shadow: 0px 0px 15px white;
    text-decoration: underline;
}

.valid{
    margin-left: 40%;
    color:white;
}

.valid2{
    margin-left: 3%;
    color:white;
}

footer{
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
    background: linear-gradient(rgb(110, 160, 221),rgb(102, 102, 244),rgb(4, 64, 244));
    border-radius: 0px 0px 15px 15px;
}

#foot-link{
    color:white;
}

#foot-link:hover{
    text-decoration: underline;
}

.valid:hover{
    text-decoration: underline;
}

.valid2:hover{
    text-decoration: underline;
}
