@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

html {
    box-sizing : border-box;
    scroll-behavior : smooth;
}
*, *::before, *::after {
    box-sizing : inherit;
}
:root {
    --color-primary:hsl(200,55%,50%);
    --color-secondary: hsl(201, 81%, 75%) ;
    --color-cta: hsl(175,50%,50%);
    --opacity : 1;
    --color-hue : 200;
    --color-white : hsl(0 0% 100%);
    --color-gray-light : hsl(0 0% 96%);
    --color-gray : hsl(0 0% 83%);
    --color-gray-dark : hsl(0 0% 40%);
    --color-black : hsl(0 0% 0%);
    --card-before: hsl(334,44%,54%);
    --card-after: hsl(216, 88%, 35%);
    --gap: 1rem;
    --header-hero: url(images/hero.webp);
    --header-h1-x: translateX(0px);
    --header-h1-y: translateY(0px);
    --footer-links : rgb(133, 126, 126);
    /* transition for cards */
    --transition-time: 0.65s;
    --header-font:  "Spicy Rice", serif;
}

.envy {
    --color-primary: hsl(154, 75%, 45%);
    --color-secondary: hsl(99, 46%, 93%);
    --color-cta: hsl(80,60%,50%);
    --color-white : hsl(0 0% 100%);
    --color-gray-light : hsl(0 0% 96%);
    --color-gray : hsl(0 0% 83%);
    --color-gray-dark : hsl(0 0% 40%);
    --color-black : hsl(0 0% 0%);
    --color-hue : 156;
    --header-hero: url(images/envy-hero.webp);
}

.veerle {
    --color-primary: hsl(56, 84%, 64%);
    --color-secondary: hsl(286, 74%, 52%);
    --color-cta: hsl(24, 88%, 75%);
    --color-white : hsl(0 0% 100%);
    --color-gray-light : hsl(0 0% 96%);
    --color-gray : hsl(0 0% 83%);
    --color-gray-dark : hsl(0 0% 40%);
    --color-black : hsl(0 0% 0%);
    --color-hue : 156;
    --header-hero: url(images/veerle-hero.webp);
}

body {
    margin : 0;
    font-family : sans-serif;
    background : var(--color-secondary);
}

.wrapper {
    width : min(calc(100%), 1280px);
    margin : 0 auto;
    background : var(--color-primary);
}

header, main, footer {
  padding : 0 var(--gap);
}

header {
    font-family: var(--header-font);
    background: var(--header-hero) no-repeat center / cover;
    letter-spacing: 4px;
    height : 200px;
    padding : 20px 0;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items: center;   
}

header h1 {
    display: flex;
    align-content: center;
    color: var(--color-black);
    font-size: 3.5em;
    border: 1px solid var(--gray-dark);
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 10px;
    padding: 10px;
}

header a {
    margin-top : auto;
    line-height : 50px;
    color : var(--color-black);
    padding : 0 var(--gap);
    text-align : right;
    text-decoration : none;
    text-decoration : none;
    letter-spacing : 0.3em;
    transition : all 0.5s;
}

header a::after {
    opacity : 0;
    position : relative;
    display : inline-block;
    transition : all 0.5s;
    transform : rotate(-48deg) translateX(60%);
    transform-origin : 20% 80%;
    transition : all 0.5s;
}

header a:hover::after {
    opacity : 1;
    transition : all 0.5s;
}

header a:hover, header a:focus {
    letter-spacing : -0.1em;
    font-style : italic;
}

header a:active {
    letter-spacing : 10em;
    opacity : 0;
}

nav {
    display : flex;
    justify-content: center;
    background : var(--color-white);
    border-top : 1px solid var(--color-gray);
    border-bottom : 1px solid var(--color-gray);
    }

nav ul {
    list-style : none;
    padding : 0;
    margin : 10px;
    display : flex;
    gap : 8px;
}

nav ul a {
    display : flex;
    text-decoration : none;
    font-weight : bold;
    font-size: 1.2rem;
    line-height : 2;
    padding : 0 calc(var(--gap) * 0.5);
    border-radius : var(--gap);
    border : transparent solid 2px;
    transition : all 0.25s cubic-bezier(0.1, 0.7, 0.7, 0.1);
    color : var(--color-black);
}

nav ul a:hover {
    border : var(--color-primary) solid 2px;
    background : var(--color-cta);
}

section{
    border: 2px solid var(--color-black);
    padding: 10px;
    background: var(--color-white);
    border-radius: 15px;
}

/* Make the summary at bottom of review pages centered */
section:nth-child(4){
  justify-content: center;
  text-align: center;
}

/* Start of Cards */

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: max-content;
  }
  
  .card {
    font-family: "Moderustic", sans-serif;
    height: 20em;
    width: 12em;
    font-size: 1.5em;
    color: var(--color-black);
    text-shadow: 1px 1px var(--color-white);
    border-radius: 1em;
    padding: 1em;
    margin: 1em; 
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em var(--color-gray-dark);
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid var(--color-gray-dark);
    text-decoration: none;
  }
  
  .card:hover {
    transform: rotate(0);
  }
  
  .card h2 {
    margin: 0;
    font-size:1.5em;
  }
  
  .card p {
    font-size: 0.65em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 0.75em;
    background: var(--color-white);
    border: 2px solid var(--color-black);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
    background: var(--color-cta);
    color: var(--color-white);
  }
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .card:before {
    background: var(--card-before);
    width: 250%;
    height: 250%;
  }
  
  .card:after {
    background: var(--card-after);
    width: 200%;
    height: 200%;
  }
  
  .card:hover {
    color: var(--color);
  }
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }

  /* End of Cards */

.review {
    display : flex;
    flex-direction : column;
    gap : calc(var(--gap));
    margin : calc(var(--gap) * 2) 0;
}

.review h2 {
    margin: 25px;
    position : relative;
    overflow : hidden;
}

.review-featured-image {
    flex : 0 0 calc(40% - calc(var(--gap) * 0.5));
    margin : 0;
}

.review-featured-image img {
    width : 100%;
    object-fit : cover;
    border : var(--color-gray) solid 2px;
    padding : var(--gap);
    background : var(--body);
    border-radius: 5px;
    box-shadow: 3px 3px 10px;
}

.review-featured-image figcaption {
    text-align : right;
    font-style : italic;
    padding : 0 var(--gap);
    color : var(--color-gray-dark);
}

.review-content {
    flex : 0 0 calc(60% - calc(var(--gap) * 0.5));
}

.review-content p {
    line-height : 1.8;
    font-size : 1.125rem;
    max-width : 65ch;
}

footer {
    padding: 50px;
}

.foot-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: var(--color-white);
    border: 2px solid var(--color-black);
    background: var(--footer-links);
    border-radius: 10px;
    padding: 10px;
}

footer a:hover {
    text-decoration: underline;
    color: var(--color-black);
    background: var(--color-white);
}

@media screen and (min-width: 768px) {
nav ul {
    flex-direction : row;
}

nav ul li a {
    padding : 0 calc(var(--gap) * 2);
}

.review {
    flex-direction : row;
}

}

/* Website Review Home Page */
@media screen and (max-width:768px){

    .home{
      font-size: 1rem;
      padding: 10px;
      border: 1px solid rgb(203, 52, 127);
      border-radius: 0 0 15px 15px;
      box-shadow: 0 0 100px inset rgb(203, 52, 127)
    }

    header h1{
      font-size: 2.5em;
    }

    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }

}