

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: rgb(191, 192, 191);
  font-family: 'Open Sans';
  margin: 0;
}

header{
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 10px;
    border: 1px solid rgb(203, 52, 127);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 100px inset rgb(54, 203, 52);
}

header h1{
    font-family: "Madimi One", sans-serif;
    font-size: 2em;
    color:rgb(13, 13, 13);
    text-shadow: 2px 2px rgb(5, 224, 31);
}

.wrapper{
    width: 1200px;
    background: rgb(255, 255, 255);
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size:1.5em;
}

.card p {
  font-size: 0.65em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: rgb(203, 52, 127);
  width: 250%;
  height: 250%;
}

.card:after {
  background: rgb(5, 224, 31);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}
  

footer {
    padding: 50px;
}

.foot-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: black;
    border: 2px solid rgb(5, 224, 31);
    background: rgb(5, 224, 31);
    border-radius: 10px;
    padding: 10px;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(5, 224, 31);
    background: black;
}

@media screen and (max-width:768px){

    header{
        font-size: 1.2rem;
        padding: 10px;
        border: 1px solid rgb(203, 52, 127);
        border-radius: 0 0 15px 15px;
        box-shadow: 0 0 100px inset rgb(203, 52, 127)
    }

    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }

}

