$color-body: rgb(169, 169, 169);
$color-wrapper: rgb(250, 235, 215);
$color-primary: rgb(211, 211, 211);
$color-white: rgb(255,255,255);
$color-black: rgb(5,5,5);
$color-cta: rgb(251, 53, 191);
$color-link-text: rgb(85, 148, 231);
