@use 'grid';
@use 'header';
@use 'main';
@use 'footer';
@use 'variables' as v;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: v.$color-body;
}

.wrapper {
    max-width: 90%;
    margin: auto;
    padding: 2em;
    background: v.$color-wrapper;
    box-shadow: 0 0 10px v.$color-black;

    @media (width <= 768px) {
        max-width: 100%;
        padding: 0;
    }
}