@use 'variables'as v;

header {
    width: 100%; 

    .hero {
        background: url(../images/hero-banner-2.webp);
        background-repeat: no-repeat;
        background-size: cover; 
        height: auto; 
        min-height: 425px; 
        border-bottom: 3px solid v.$color-black;

    }
}

@mixin centered-text($font-size, $padding-top) {
    padding-top: $padding-top;
    font-size: $font-size;
    color: v.$color-white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    @include centered-text(3em, 3em);
}

h3 {
    @include centered-text(2em, 1em);
}
