@use 'variables'as v;

section {
    padding: 25px;

    h2 {
        text-align: center;
        margin-top: 1em;
    }

    p {
        width: 80%;
        margin: auto;
        margin-top: 1em;
    }

    a {
        margin-top: 2em;
        margin-left: 6em;
        padding: 5px;
        border: 2px solid v.$color-border;
        background: v.$color-headings;
        color: v.$color-secondary-theme;
        box-shadow: 2px 2px v.$color-theme;
    }
}