/**
 * set the box-sizing property to border-box
 * all elements will include padding and border in the width and height
 * the star selector is a universal selector - selects all elements
 * the before and after pseudo-elements are included
 * now the width property value will be subtracted to include padding and border
 * default model is content-box - padding and border are added to the width and height
 * works best for most designs 
 * - however if width is small and padding is large overflow can occur
 */
 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }
 
 /**
  * set the min-height to 100dvh
  * dvh is the dynamic viewport height
  * it will adjust based on the changing viewport height
  * if the browser adds controls or the viewport height changes
  * the min-height will adjust to the new height
  */
 html {
     font-family: sans-serif;
     min-height: 100dvh;
 }
 
 /**
  * multiple backgrounds
  * background is the shorthand property
  * url() is the background-image property
  * repeat-x is the background-repeat property
  * fixed is the background-attachment property
  * top image and the gradient will be fixed to the viewport
  * page content will scroll and the background will remain fixed
  */
 
 /* prettier-ignore */
 body {
     margin: 0;
     min-height: 100dvh;
     background: 
         url(images/champs.webp) no-repeat top 0 right 25px fixed, 
         url(images/brewer_logo.webp) repeat-x left bottom 25px / 15em, 
         fixed
         linear-gradient(
             to bottom, 
             rgb(216, 195, 7) 2%, 
             rgb(2, 38, 103) 64%
             )
         #000;
 }
 
 /**
  * create a grid container
  * no columns or rows are defined
  * the grid will automatically create columns and rows
  * based on the content
  * max-width is 800px
  * div is a block-level element
  * it will try to take up the full width of the container
  * never larger than 800px
  */
 
 .wrapper {
     display: grid;
     max-width: 800px;
     border: 2px solid rgb(2, 38, 103);
     border-radius: 10px;
     background: rgb(216, 195, 7);
     margin-top: 10px;
     margin-bottom: 10px;
 }
 
 /**
  * display flex - create a flex container
  * flex direction is row (left to right)
  * all elements will shrink to the minimum size of the content
  * and flow from left to right
  * multiple background images (gradients behave like images)
  * background is the shorthand property
  * url() is the background-image property
  * no-repeat is the background-repeat property
  * top 0px right 0px is the background-position property (x, y)
  * the additional value after the keyword is the offset
  * place the image in the top right corner
  * then move it 0px down and 0px left
  * positive values move in towards the center of the element
  * negative values move out away from the element
  * / 50px 50px is the background-size property (width, height)
  * keyword cover is the background-size property
  * cover will scale the image to cover the entire container
  * contain will scale the image to fit inside the container
  * cover is used most often
  * background color must always be last
  * a stacking order is created
  * first background image/gradient is on top
  * last background image/gradient is on the bottom
  */
 /* prettier-ignore */
 header {
     display: flex;
     border-radius: 10px;
     border: 2px solid gray;
     margin: 20px;
     background: 
        url(images/openingDay.webp) no-repeat top 100px right 20px / 75px 75px, 
        url(images/AmFamField.webp) no-repeat center center / cover,
        linear-gradient(
             to bottom, 
             rgb(216, 195, 7), 
             rgb(2, 38, 103)
         )
         #3427f3;
     box-shadow: inset 0 2px 4px rgb(216, 195, 7);
 }
 
 /**
  * h1 is a flex item of the flex container
  * flex-grow is 1 - don't shrink wrap around the content
  * flex-shrink is 1 - allow the item to shrink to fit the container
  * flex-basis is auto - the initial size of the item
  * the flex direction is row (left to right) layout the h1 in the row direction
  * margin is 0 remove the default margin - creating an edge-to-edge design
  * line-height is 4 * font-size - this will set the actual height of the line box
  * the text will be vertically centered in the in the line box
  * background is a gradient
  * border-radius is 10px all 4 corners - will be overridden in the media query
  */
 /* prettier-ignore */
 header h1 {
     flex: 1 1 auto;
     margin: 0;
     color: #fff;
     line-height: 4;
     text-align: center;
     letter-spacing: 4px;
     text-shadow: 2px 2px 10px black;
     background: 
         transparent 
         linear-gradient(
             to bottom, 
             hsla(60, 69%, 49%, 0.7) 5px, 
             hsla(218, 62%, 50%, 0.7) 25px, 
             hsla(60, 69%, 49%, 0.7)
                      );
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
 }
 
 /**
  * sup is a superscript element
  * used for footnotes, endnotes, power, and exponents
  * font-size is 0.6 * inherited font-size
  * find the value of the inherited font-size from the parent element
  * multiply by 0.6
  * use the Developer Tools Computed tab/panel to find the actual font-size of the parent element
  */
 header h1 sup {
     font-size: 0.6em;
 }

 /* START - .nav-main Index Page*/
/**
* Nav Element
* position fixed
* top left 0
* line height 0 - remove space between inline elements (button)
*/
.hamburgerNav {
    margin-left: 20px;
    padding: 5px;
    text-decoration: none;
    border: 3px solid rgb(32, 59, 180);
    border-radius: 5px;
    max-width: 225px;
    cursor: grab;
}

/* When a nav link is clicked on it will be highlighted!*/
.active {
    background: rgb(27, 23, 16);
    color: black;
    text-shadow: 1px 1px rgb(27, 55, 139);
    font-size: 1.4em;
    font-weight: bold;
}

.nav-main {
    position: sticky;
    text-align: right;
    margin-right:25px;
    top: 10px;
    left: 20px;
    line-height: 0;
    
}

/**
 * Nav Main Menu Toggle
 * Button Element
 * no background
 * no border
 * cursor pointer - show pointer on hover
 */
.nav-main-menu-toggle {
    background: rgb(248, 235, 63);
    border: 3px solid rgb(27, 55, 139);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(24, 24, 18);
    cursor: grab;
    padding: 0;
    line-height: 0;
}

/** 
 * SET SVG TRANSFORMS
 * based on individual elements not SVG box 
 */
.nav-main-menu-toggle svg * {
    transform-box: fill-box;
}

/** 
 * HAMBURGER MENU ICON 
 * 3 RECTANGLES
 * set transition properties
 * set transform origin x and y to center
 * - rotate and translate will be based on center
 */
.nav-main-menu-toggle rect:nth-child(1) {
    transition: all 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transform-origin: center;
}

.nav-main-menu-toggle rect:nth-child(2) {
    transition: all 2.25s linear;
    transform-origin: center;
}

.nav-main-menu-toggle rect:nth-child(3) {
    transition: all 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transform-origin: center;
}

/**
 * JAVASCRIPT WILL ADD 
 * - aria-expanded="true" 
 * - to .nav-main-menu-toggle 
 * turn hamburger menu into X
 * turn units are same as rotate in degrees
 * scale will make middle rectangle disappear
 */
.nav-main-menu-toggle[aria-expanded="true"] rect:nth-child(1) {
    rotate: 8turn;
    translate: 0px 0px;
}

.nav-main-menu-toggle[aria-expanded="true"] rect:nth-child(2) {
    rotate: 10turn;
    scale: 0;
}

.nav-main-menu-toggle[aria-expanded="true"] rect:nth-child(3) {
    rotate: -8.25turn;
    translate: 0px -5px;
}

/* END - .nav-main-menu-toggle */

/**
 * Nav Main Menu - the UL
 * transform translateX -100%
 * - move off screen
 * - negative move away from element
 * - positive move toward element
 * - translate percentage based on width of element
 * - not the parent element
 * position absolute
 * width 100vw
 * height 100vh
 * remove default margin and padding
 * remove list style
 * display flex
 * flex direction column
 * visibility hidden
 * - hide menu
 * - will be shown by javascript
 * box shadow
 * clip path will hide shadow on top
 * - zero pixels will clip shadow at box edge
 * - negative pixels will extend shadow beyond box edge
 */
#nav-main-menu {
    transform: translateX(100%);
    transition: all 1s ease-in-out;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: hsla(218, 62%, 50%, 0.7);
    backdrop-filter: blur(5px);
    margin: 0;
    margin-top: 0px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    visibility: hidden;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    clip-path: inset(0px 0px -10px 0px);
}

/**
 * Show Nav Main Menu - the UL
 * :not() selector
 * if hidden attribute is not present
 * - show menu
 * - translateX 0 
 * - move on screen
 * transition all properties that change
 * - duration 1.8 seconds
 * - ease-in-out timing function
 */
#nav-main-menu:not([hidden]) {
    visibility: visible;
    transform: translateX(0);
    transition: all 1.s ease-in-out;
}

/**
 * Anchor Elements
 * color inherit
 * - inherit color from parent element
 * display flex
 * - can set width and height
 * - entire element is clickable
 * line height 3
 * - 3 times the font size
 * padding 0 2em left and right
 * - 2em is 2 times the font size
 * transition all properties that change
 * - duration .25 seconds
 * - ease-in-out timing function
 */
#nav-main-menu li a {
    color: hsla(52, 71%, 49%, 0.7);
    text-shadow: 2px 2px 2px black;
    display: flex;
    line-height: 3;
    margin-top: 10px;
    padding: 0 2em;
    transition: all .15s ease-in-out;
}

#nav-main-menu li a:hover,
#nav-main-menu li a:focus {
    background: hsla(52, 71%, 49%, 0.7);
    box-shadow: 0px 2px 10px rgb(2, 38, 103);
    color: rgb(2, 38, 103);
    text-shadow: none;
    font-weight: 900;
}

/* END - .nav-main */



 /**  * background gradient
  * small gradient on top
  * first color is 0% from the top
  * second color is 5% from the top
  * third color is 20% from the top (same color as the background)
  */
 /* prettier-ignore */
 section {
     margin: 20px;
     border: 2px solid rgb(2, 38, 103);
     border-radius: 10px;
     padding: 10px;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
     background:  
         linear-gradient(
             to bottom, 
             hsla(220, 87%, 50%, 0.348) 0%, 
             hsla(206, 86%, 53%, 0.559) 5%, 
             hsl(51, 76%, 80%) 20%
         )
         #fff;
 }
 
 /**
  * margin 24px on top and bottom
  * zero on right and left
  * 6px on bottom (override the 24px)
  */
 h2 {
     margin: 12px 20px ;
 }
 
 /**
  * use larger line-height for improved readability
  * set maximum width to 60ch (60 characters) for improved readability
  */
 p {
     margin: 12px 0;
     line-height: 1.4;
     max-width: 85ch;
 }
 
 /**
  * Responsive Images
  * set width to 100%
  * images will scale to fit the container
  * percentage is based on the width of the containing block (parent element)
  */
 img {
     width: 100%;
     border-radius: 10px;
 }

  /* Creating the buttons for assignment 03 first set of buttons*/
  .button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 0;
}

.button-center {
    justify-content: center;
}

.button-right {
    justify-content: flex-end;
}

.button-amFam-link{
    font-size: 1.2em;
    line-height: 2;
    margin: 10px;
    padding: 0 1em;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid hsl(236, 86%, 54%);
    box-shadow: 0px 3px 10px hsl(236, 86%, 54%);
    font-weight: bolder;
}

.button-amFam-link-primary{
    font-size: 1.4rem;
    background-image: linear-gradient(
        0deg,
        hsl(234deg 99% 27%) 29%,
        hsl(229deg 100% 29%) 69%,
        hsl(225deg 100% 30%) 79%,
        hsl(223deg 100% 31%) 84%,
        hsl(220deg 100% 32%) 87%,
        hsl(218deg 100% 33%) 89%,
        hsl(216deg 100% 34%) 91%,
        hsl(214deg 100% 35%) 93%,
        hsl(212deg 100% 36%) 96%,
        hsl(211deg 95% 38%) 100%
      );
    color:rgb(248, 235, 63);
    text-shadow: 2px 2px hsla(206, 97%, 23%, 0.559);
}

.button-amFam-link-primary-large{
    font-size: 2rem;
}

.button-amFam-link-primary-small{
    font-size: 1rem;
}

/* button hover effect */
.button-amFam-link-primary:hover{
    box-shadow: 0px 0px 5px hsl(236, 86%, 54%);
    background: hsl(234deg 99% 27%)
}

/* button press effect */
.button-amFam-link-primary:active{
    animation: press 0.2s 1 linear;
}

@keyframes press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.92);
    }
    to {
        transform: scale(1);
    }
}

/* Second set of buttons for assignment03 */

.button-freddy-center{
    justify-content: center;
}

.button-freddy {
    font-size: 1.2em;
    line-height: 2;
    margin: 10px;
    padding: 0 1em;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
}

.button-freddy-primary {
    font-size: 1.5rem;
    background: antiquewhite;
    color: red;
    text-shadow: 1px 1px black;
    border: 3px dashed rgb(33, 18, 113);
}

.button-freddy-success {
    font-size: 1.5rem;
    background: green;
    color: antiquewhite;
    text-shadow: 1px 1px black;
    border: 3px dashed rgb(255, 255, 255);
}

.button-freddy-warning {
    font-size: 1.5rem;
    background: red;
    color: white;
    text-shadow: 1px 1px black;
    border: 3px dashed rgb(255, 255, 255);
}

.button-freddy-primary-large {
    font-size: 2rem;
}

.button-freddy-primary-small {
    font-size: 1.2rem;
}

/* button 2 hover effects */
.button-freddy-primary:hover {
    border: 3px solid rgb(33, 18, 113);
    box-shadow: 3px 3px 3px red;
    background: black;
    color: white;
    text-shadow: 0 0 5px white;
}

.button-freddy-warning:hover {
    border: 3px solid rgb(194, 11, 11);
    box-shadow: 3px 3px 3px rgb(222, 12, 12);
    background: rgb(243, 16, 16);
    color: rgb(7, 6, 6);
    text-shadow: 0 0 5px rgb(7, 6, 6);
}

.button-freddy-success:hover {
    border: 3px solid rgb(78, 237, 19);
    box-shadow: 3px 3px 3px rgb(82, 238, 9);
    background: rgb(140, 239, 10);
    color: rgb(7, 6, 6);
    text-shadow: 0 0 5px white;
}

/* button 2 active effects */
.button-freddy-primary:active {
    transform: scale(0.9);
    box-shadow: none;
}

.button-freddy-success:active {
    transform: scale(0.9);
    box-shadow: none;
}

.button-freddy-warning:active {
    transform: scale(0.9);
    box-shadow: none;
}




/* Third set of buttons for assignment03 */
.button-brewcrew-left{
    justify-content: flex-start;
}

.button-brewcrew-link {
    font-size: 1.2em;
    line-height: 2;
    margin: 10px;
    padding: 0 1em;
    text-decoration: none;
    border: 3px solid hsl(240deg 99% 70%);
    border-radius: 5px;
}

.button-brewcrew-link-primary {
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 8px white;
    background-image: linear-gradient(
        0deg,
        hsl(240deg 99% 70%) 0%,
        hsl(242deg 67% 59%) 1%,
        hsl(245deg 52% 49%) 3%,
        hsl(247deg 60% 39%) 8%,
        hsl(248deg 73% 29%) 20%,
        hsl(248deg 98% 20%) 51%,
        hsl(248deg 73% 29%) 80%,
        hsl(247deg 60% 39%) 92%,
        hsl(245deg 52% 49%) 97%,
        hsl(242deg 67% 59%) 99%,
        hsl(240deg 99% 70%) 100%
    );
}

.button-brewcrew-link-primary-large {
    font-size: 2rem;
}

.button-brewcrew-link-primary-small {
    font-size: 1rem;
}

/* button 3 hover effects */
.button-brewcrew-link-primary:hover {
    background-image: linear-gradient(
    0deg,
    hsl(248deg 98% 20%) 0%,
    hsl(248deg 73% 29%) 1%,
    hsl(247deg 60% 39%) 3%,
    hsl(245deg 52% 49%) 8%,
    hsl(242deg 67% 59%) 20%,
    hsl(240deg 99% 70%) 50%,
    hsl(242deg 67% 59%) 80%,
    hsl(245deg 52% 49%) 92%,
    hsl(247deg 60% 39%) 97%,
    hsl(248deg 73% 29%) 99%,
    hsl(248deg 98% 20%) 100%
    );
    border: 3px inset black;
    color: rgb(7, 17, 125);
    box-shadow: 2px 2px 10px black;
}

/* button 3 active effects */
.button-brewcrew-link-primary:active {
    transform: translateY(-2px);
    box-shadow: none;
}
 
 /**
  * Setup flex container
  * elements flow in row direction (left to right)
  * gap between elements is 20px
  * margin is 0 on top 
  * 20px on right and left
  * 20px on bottom
  */
 footer {
     display: flex;
     gap: 20px;
     margin: 0 20px 20px;
 }
 
 /**
  * All anchor pseudo states
  * remove default text decoration
  * color is white
  * height is 2 * font-size (2 * 16 = 32)
  */
 footer a {
     color: white;
     text-decoration: none;
     line-height: 2;
 }
 
 /**
  * first child of footer
  * margin-right is auto
  * as a flex item margin auto will consume all available space (unused pixels
  * the other flex items will be pushed to the right)
  */
 footer a:first-child {
     margin-right: auto;
     color: rgb(2, 38, 103);
 }
 
 /**
  * square brackets are attribute selectors
  * href^="javascript" means href attribute starts with javascript
  * the $ means ends with
  * the * means contains
  * the ~ means contains word
  * the | means starts with
  * the ^ means starts with
  * the = means is equal to
  * the != means is not equal to
  * position is relative (setting up for the active state - moving the element down 2px)
  * style like a button
  */
 footer a[href^="javascript"] {
     position: relative;
     color: #000;
     background-color: #fff;
     border-radius: 3px;
     padding: 0 10px;
     box-shadow: 0 2px 2px #000;
 }
 
 footer a[href^="javascript"]:active {
     top: 2px;
     box-shadow: none;
 }
 
 /*
 Start Media Query
     if screen is 48rem or larger (can use px or em)
     rem is based on font size of root element
         (16px * 48 = 768)
     use the following rules
 */
 
 @media (min-width: 768px) {
     /**
      * override the margin of the container 
      * margin is now 20px on top and bottom
      * auto on left and right
      * auto will center the container
      */
     .wrapper {
         margin: 20px auto;
     }
     /**
      * height is 400px - a design decision
      * multiple background images
      * background is the shorthand property
      * url() is the background-image property
      * no-repeat is the background-repeat property
      * 80px -10px is the background-position property (x, y)
      * / 200px 200px is the background-size property (width, height)
      */
     /* prettier-ignore */
     header {
         height: 400px;
         background: 
             url(images/onSale.webp) no-repeat 0px -30px / 200px 200px, 
             url(images/openingDay.webp) no-repeat top 15px right 15px / 125px 125px, 
             url(images/AmFamField.webp) no-repeat center center / cover, 
             linear-gradient(
                 to bottom, 
                 hsl(201, 100%, 48%), 
                 hsl(213, 100%, 44%))
             #000;
     }
 
     /**
      * font-size is 2.75 * inherited font-size (16px)
      * height is 2 * font-size (2.75 * 16 = 44)
      * flex item flowing in row direction (left to right the main axis)
      * align-self is flex-end (bottom of flex container the cross axis)
      * remove border-radius from top of header
      */
     header h1 {
         font-size: 2.75em;
         line-height: 2;
         align-self: flex-end;
         border-top-left-radius: 0px;
         border-top-right-radius: 0px;
     }

     /* nav */
     .nav-main {
        position: static;
        top: auto;
        left: auto;
        z-index: auto;
    }

    #nav-main-menu {
        position: relative;
        visibility: visible;
        transform: translateX(0);
        transition: none;
        width: auto;
        height: auto;
        background: transparent;
        backdrop-filter: none;
        flex-direction: row;
        box-shadow: none;
        clip-path: none;
    }

    .nav-main-menu-toggle {
        display: none;
    }
 
     /**
      * override the width of the image (auto is the intrinsic width)
      * float the image to the right
      * set margin opposite the float direction
      */
     img {
         width: auto;
         float: right;
         margin: 0 0 2px 4px;
     }
 }