@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

body{
    background: rgb(241, 231, 206);
}

.container{
    margin: 0 auto;
    background: rgb(186, 159, 123);
    width:60%;
    border-radius: 15px;
    border: 3px solid red;
    box-shadow: 0px 0px 15px red;
    font-family: "Chela One", system-ui;
}

header{
    font-size: 200%;
    text-align: center;
    padding: 3%;
}

h1{
    color:rgb(41, 71, 71);
    text-shadow: 2px 2px 10px rgb(139, 2, 2);
}

h3{
    color: rgb(48, 44, 40);
    text-shadow: 1px 1px rgb(139, 2, 2);
}

nav{
    text-align: center;
    margin-left: -5%;
}

ul li{
    display: block;
    padding: 3%;
}

a{
    font-family: "Madimi One", sans-serif;
    font-size: 150%;
    color: black;
    text-decoration: none;
}

#links{
    background: rgb(172, 111, 111);
    border: 3px solid rgb(207, 206, 148);
    border-radius: 15px;
    padding:2%;
}

#links:hover{
    background: rgb(102, 92, 63);
    text-decoration: underline;
    color: rgb(243, 19, 19);
}

footer{
    margin-top: 5%;
}

.foot-link{
    align-items: left;
}

#valid{
    margin-left: 40%;
}

#valid2{
    margin-left: 3%;
}

footer a{
    padding: 3%;
    font-size: 100%;
}

footer a:hover{
    text-decoration: underline;
}

