@use 'header';
@use 'nav';
@use 'footer';
@use 'main';
@use 'variables' as v;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background: v.$color-primary;
    overflow-x: hidden;
}

.wrapper{
    margin: 2em auto;
    display: grid;
    padding: 2em;
    justify-content: center;
    align-items: center;   
    background: v.$color-secondary;
    max-width: max(90%, 1200px); 
    border: 3px solid v.$color-black;
    box-shadow: 0px 0px 15px v.$color-black;
}